<head>
    <meta charset="UTF-8">
    <meta name="description" content="Clase de Node.js">
    <meta name="keywords" content="Node">
    <meta name="author" content="ISEN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE.js | <%= title %></title>
    <link rel="stylesheet" href="/error.css">
</head>