<nav>
    <div class="site-title">
      <a href="/"> <h1>SupeBlog And Shop</h1></a>
      <p>Un lugar para hacer blogs y comprar</p>
    </div>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/crearUsuario">Nuevo usuario</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/basededatos">Base de datos</a></li>
      <li><a href="/sing-up">Crea una cuenta</a></li>
      <li><a href="/actividad">Actividad de Usuarios</a></li>
      <li><a href="/productosCompClase">Tienda</a></li>
    </ul>
</nav>